<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">
  </head>
  <body>

    <div class="container">
      <div class="bs-docs-section">
        <h1 id="{{title}}" class="page-header">{{title}}</h1>
      </div>
      <div class="bs-example">
        <!-- component -->
        {{> body }}
      </div>
      <div class="highlight">
{{#markdown}}
```html
{{> body }}
```
{{/markdown}}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/languages/http.min.js"></script>
  </body>
</html>